<section>
  <div class="page-header">
    <h1>Test pages</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="test-page in vm.testPages"
       ui-sref="testPages.view({ test-pageId: test-page._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="testPage.created | date:'mediumDate'"></span>
        by
        <span ng-if="testPage.user" ng-bind="testPage.user.displayName"></span>
        <span ng-if="!testPage.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="test-page.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.testPages.$resolved && !vm.testPages.length">
    No Test pages yet, why don't you <a ui-sref="testPages.create">create one</a>?
  </div>
</section>
