<section>
  <div class="page-header">
    <h1>Organizations</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="organization in vm.organizations"
       ui-sref="organizations.view({ organizationId: organization._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="organization.created | date:'mediumDate'"></span>
        by
        <span ng-if="organization.user" ng-bind="organization.user.displayName"></span>
        <span ng-if="!organization.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="organization.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.organizations.$resolved && !vm.organizations.length">
    No Organizations yet, why don't you <a ui-sref="organizations.create">create one</a>?
  </div>
</section>
