<div class="footer-nav">
  <a href="/" class="menu">
    <i class="fa fa-home" aria-hidden="true"></i>
    <div class="name">home</div>
  </a><a href="/checklist" class="menu">
    <i class="fa fa-list-alt" aria-hidden="true"></i>
    <div class="name">checklist</div>
  </a><a href="/resources" class="menu">
    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
    <div class="name">resource</div>
  </a><a href="/resources/search" class="menu">
    <i class="fa fa-search" aria-hidden="true"></i>
    <div class="name">search</div>
  </a>
</div>
