<ng-include src="'/modules/core/client/views/home.header.client.view.html'"></ng-include>

<div class="hero home-hero">
  <div class="overlay">
    <div class="home-banner">
      <img class="home-logo" ng-src="/modules/core/client/img/brand/logo1.png" alt="Large background picture of soldiers raising the U.S flag.">
      <h1 class="home-title">Welcome to Project Light The Way</h1>
      <h3 class="home-slogan">Find the resources you need, and discover ones you did not know about</h3>
    </div>

    <div class="home-search">
      <input type="text">
      <span ui-keypress="{13:'vm.fn.search()'}">Search</span>
    </div>
  </div>
</div>

<section>
  <div class="title">I am currently</div>
  <div class="vet-type">
    <a href="/transition">transitioning</a>
    <a href="/veteran">a veteran</a>
    <a href="/dire">in dire need</a>
  </div>
</section>

<section>
  <h2 class="title">Title</h2>
  <div class="resource">
    <a href=""></a>
  </div>
</section>

  <!-- Supporter Section -->
  <section>
    <h2 class="title">Supporters</h2>

    <div class="supporters">
      <a class="supporter"></a>
    </div>
    <div class="container">
      <div class="row supporter">
        <div class="col-sm-4">
          <a href="https://techhire.org/" class="link" target="_blank">
            <div class="img">
              <div class="techhire-seal"></div>
            </div>
            Tech Hire
          </a>
        </div>

        <div class="col-sm-4">
          <a href="https://www.lamayor.org/" class="link" target="_blank">
            <div class="img">
              <div class="la-seal"></div>
            </div>
            Los Angeles <br> Mayor's Office
          </a>
        </div>

        <div class="col-sm-4">
          <a href="http://www.hackforla.org/" class="link" target="_blank">
            <div class="img">
              <div class="hfla-seal"></div>
            </div>
            Hack for LA
          </a>
        </div>
      </div>
    </div>
    <a href="#supporters" name="supporters">
    </a>
  </section>
