<!-- Content For Landing Page -->
<header ng-include="'/modules/core/client/views/landing.header.client.view.html'" class="navbar"></header>
<section class="container">

  <div class="hero">
    <div class="hero-title">
      Project <br>
      Light The Way
    </div>
    <div class="search">
      <i class="fa fa-search" aria-hidden="true"></i>
      <input type="text" placeholder="I need a dentist...">

      <div class="search-buttons">
        <div class="btn btn-search">Search</div>
        <div class="btn btn-search">Explore</div>
      </div>
    </div>
  </div>

</section>
<section class="bg bg-grey container">
  <h5 class="txt-c">Available Resources</h5>
  <div class="topics" ng-repeat="x in [1,2,3,4,5,6,7,8]">
    <div class="topic">
      <i class="fa fa-users fa-3x" aria-hidden="true"></i>
      <div class="topic-name txt-c">
        Sample
      </div>
    </div>
  </div>
</section>

<footer ng-include="'/modules/core/client/views/landing.footer.client.view.html'" class="bg-grey">

</footer>
