<ng-include src="'/modules/core/client/views/header.nav.view.html'"></ng-include>
<section class="has-footer has-header">
  <div class="resources">
    <a href="#" class="single">
      <div class="name">Alcohol and Drug<br>Dependence Rehabilitation Program</div>
    </a>
    <a href="/resources" class="single">
      <div class="name">Resources that benefit you</div>
    </a>
    <a href="#" class="single">
      <div class="name">No veteran<br>should be without a place to call home</div>
    </a>
    <a href="tel:1-800-273-8255" class="single nspl">
      <div class="msg">
        <i class="fa fa-phone" aria-hidden="true"></i> 1-800-273-8255
      </div>
      <div class="name">National Suicide Prevention Lifeline</div>
    </a>
  </div>
</section>
<ng-include src="'/modules/core/client/views/footer.nav.view.html'"></ng-include>
