<section>
  <div class="page-header">
    <h1>Dire</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="dire in vm.dire"
       ui-sref="dire.view({ direId: dire._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="dire.created | date:'mediumDate'"></span>
        by
        <span ng-if="dire.user" ng-bind="dire.user.displayName"></span>
        <span ng-if="!dire.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="dire.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.dire.$resolved && !vm.dire.length">
    No Dire yet, why don't you <a ui-sref="dire.create">create one</a>?
  </div>
</section>
