<section>
  <h1 class="txt-c">Checklist</h1>
  <div class="list-id">{{vm.list._id}}</div>
  <div class="resources checklist-result">
    <div class="resouce-add clearfix" ng-repeat="r in vm.list.items" style="background:{{vm.checklist.indexOf(r._id)!==-1?'#3498db':''}}">
      <a class="add">
        <b ng-show="vm.checklist.indexOf(r._id) !== -1" ng-bind="$index+1"></b>
      </a>
      <a href="/checklist/resource-{{r._id}}" class="featured result"  ng-click="vm.fn.modal()">
        <!-- <div class="org" ng-bind="r.org">TechHire</div><div class="type" ng-bind="r.type || 'CA'"></div> -->
        <div class="name" ng-bind="r.org || 'Resource Name'">Resource Name</div>
        <div class="desc" ng-bind="r.desc">
        </div>
        <div class="rec">
          <!-- <i class="fa fa-thumbs-o-up " aria-hidden="true"></i> <span>21</span> Vets -->
          <!-- {{vm.checklist}} -->
        </div><div class="view" ng-bind="vm.checklist.indexOf(r._id) !== -1?'Resource Added':'Read More'"></div> <!--ng-bind=""-->
      </a>
    </div>
  </div>


  <div class="col-sm-6 col-sm-offset-3 has-footer">
    <div ng-hide="vm.sent">
      <div class="title">Send to email</div>
      <div class="form-group">
        <input class="form-control" type="email" ng-model="vm.email" placeholder="Email*" required="true">
      </div>
      <div class="form-group form-group-half">
        <input type="text" class="form-control" ng-model="vm.name" placeholder="First & Last Name">
      </div>
      <div class="form-group form-group-half">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Zip" ng-model="vm.zip" maxlength="5">
          <span class="input-group-addon input-group-action"
            ng-click="vm.fn.getZip()"
          ><i class="fa fa-location-arrow aria-hidden" aria-hidden="true"></i></span>
        </div>
      </div>
      <button class="btn btn-blue btn-block" ng-click="vm.fn.email()">Email Checklist</button>
    </div>
    <div ng-show="vm.sent">
      <div class="btn btn-blue btn-block">
        <small>Email Sent To</small>
        <div ng-bind="vm.email"></div>
      </div>
      <div class="btn btn-link btn-block" ng-click="vm.sent=false">Change Email</div>
    </div>
  </div>

</section>
<ng-include src="'/modules/core/client/views/footer.nav.view.html'"></ng-include>
