<section class="has-footer" ng-hide="vm.resultsShow">
  <h1 class="txt-c">CHECKLIST<br><small>We'll generate a checklist to follow</small></h1>

  <div class="col-sm-6 col-sm-offset-3">
    <div class="form-group checklist">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="this" ng-click="vm.fn.selectAll()"> <b>Select All</b>
        </label>
      </div>
      <div class="checkbox" ng-repeat="c in vm.categories">
        <label>
          <input type="checkbox" name="{{c | url}}" ng-click="vm.fn.list(c)" ng-checked="vm.checked.indexOf(c) != -1 || vm.selectAll"> {{c}}
        </label>
      </div>
    </div>
    <div class="txt-c">
      <a>
        <button class="btn btn-blue btn-block" ng-click="vm.fn.results()">Search Resources</button>
      </a>
    </div>

  </div>
</section>
<section class="has-footer" ng-show="vm.resultsShow">
  <div class="col-sm-6 col-sm-offset-3 clearfix">
    <a class="btn btn-blue pull-left" ng-click="vm.resultsShow=!vm.resultsShow">Go Back</a> <br>
  </div>
  <div class="col-sm-6 col-sm-offset-3">
    <accordion close-others="true">
      <accordion-group ng-repeat="(key, results) in vm.results" ng-show="vm.checked.indexOf(key) != -1">
        <accordion-heading>
          {{key}}
        </accordion-heading>
        <div class="resources accordion">
          <a href="/checklist/resource-{{r._id}}" class="featured result" ng-repeat="r in results" ng-click="vm.fn.modal()">
            <!-- <div class="org" ng-bind="r.org">TechHire</div><div class="type" ng-bind="r.type || 'CA'"></div> -->
            <div class="name" ng-bind="r.org || 'Resource Name'">Resource Name</div>
            <div class="desc" ng-bind="r.desc">
            </div>
            <div class="rec">
              <!-- <i class="fa fa-thumbs-o-up " aria-hidden="true"></i> <span>21</span> Vets -->
              <!-- {{vm.checklist}} -->
            </div><div class="view" ng-bind="vm.checklist.indexOf(r._id) !== -1?'Resource Added':'View Resource'"></div> <!--ng-bind=""-->
          </a>
        </div>
      </accordion-group>
    </accordion>
    <a class="btn btn-blue btn-block" ng-hide="vm.checklist.length === 0" ng-click="vm.fn.view()">View Checklist</a>
    <a class="btn btn-disabled btn-block" ng-show="vm.checklist.length === 0">View Checklist</a>
    <div class="txt-c"><b>{{vm.checklist.length?vm.checklist.length+' in checklist':'Add items to checklist to view'}} </b></div>

  </div>
</section>
<div class="overlay checklist modal-overlay" ng-show="vm.modal" ng-click="vm.fn.modal()"></div>
<div class="modal-checklist" ng-show="vm.modal">
  <ui-view></ui-view>
</div>
<ng-include src="'/modules/core/client/views/footer.nav.view.html'"></ng-include>
