<section>
  <div class="page-header">
    <h1>Transitions</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="transition in vm.transitions"
       ui-sref="transitions.view({ transitionId: transition._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="transition.created | date:'mediumDate'"></span>
        by
        <span ng-if="transition.user" ng-bind="transition.user.displayName"></span>
        <span ng-if="!transition.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="transition.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.transitions.$resolved && !vm.transitions.length">
    No Transitions yet, why don't you <a ui-sref="transitions.create">create one</a>?
  </div>
</section>
