<section>
  <div class="page-header">
    <h1 ng-bind="vm.transition.name"></h1> | A
  </div>
  <div class="pull-right"
       ng-show="vm.transition.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="transitions.edit({ transitionId: vm.transition._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.transition.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.transition.user"
            ng-bind="vm.transition.user.displayName"></span>
      <span ng-if="!vm.transition.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.transition.content"></p>
</section>
