<section>
  <h1 class="title">Resources</h1>

  <div class="row">
    <div class="col-md-6">
      <input class="input-simple" type="text" placeholder="Search Resources" ng-model="resourceSearch">
    </div>
    <div class="col-md-2 col-md-offset-4">
      <a class="btn btn-primary pull-right" ui-sref="resources.create">Add a resource</a>
    </div>
  </div>

  <div class="list-group">
    <table class="table table-hover resources">
      <thead>
        <tr>
          <th colspan="2">Organization</th>
          <th>Website</th>
          <th>Address</th>
          <th colspan="3">POC</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="resource in vm.resources | filter: resourceSearch" >
          <td colspan="2"><a href="/r/form/{{resource._id}}">{{resource['org']}}</a> <br><p ng-bind="resource['desc']"></p> </td>
          <td><a href="http://{{resource['web']}}" target="_blank">Link</a></td>
          <td>
            <b ng-bind="resource['addr']"></b>,<br>
            <b ng-bind="resource['city']"></b>,<br>
            <b ng-bind="resource['state']"></b>
            <b ng-bind="resource['zip']"></b>
          </td>
          <td>
            <span ng-bind="resource['poc_name']"></span><br>
            <span ng-bind="resource['poc_email']"></span><br>
            <span  ng-bind="resource['poc_line']"></span>
          </td>
          <td ng-bind="resource['tags']">Tags</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
