<section>
  <h1 class="title">
    <img class="home-logo" ng-src="/modules/core/client/img/brand/logo_centered.png" alt="Large background picture of soldiers raising the U.S flag.">
    Light The Way
  </h1>
  <div class="txt-c">
    Los Angeles' Best Veteran Resources. <br>
    Prevetted by Vets, for Vets.
  </div>
  <ng-include src="'/modules/shared/client/views/search.client.view.html'" ng-init="vm.type='hero'"></ng-include>
</section>
<ng-include src="'/modules/core/client/views/footer.nav.view.html'"></ng-include>
