<!-- This is left commented out intentionally -->
<a href="/resources" class="btn btn-link">Resources</a>
<br>
<!-- {{
  vm.resource
}} -->

<section>
  <div class="resource">
    <div class="id" ng-bind="vm.resource._id"></div>
    <h1 class="title" >Resource Name</h1>
    <div class="org" ng-bind="vm.resource.org"></div>
    <a href="{{vm.resource.web}}"><div class="web">website</div></a>
    <div class="addr">
      <span ng-bind="vm.resource.addr"></span><br>
      <span ng-bind="vm.resource.city"></span>,&nbsp;
      <span ng-bind="vm.resource.state"></span>&nbsp;
      <span ng-bind="vm.resource.zip"></span>
    </div>
    <div class="line" ng-bind="vm.resource.line"></div>
    <p class="desc" ng-bind="vm.resource.desc"></p>
    <span class="poc">Point of Contact</span>
    <div class="name" ng-bind="vm.resource.poc_name"></div>
    <div class="email" ng-bind="vm.resource.poc_email"></div>
    <div class="line" ng-bind="vm.resource.poc_line"></div>
  </div>
</section>
<!-- <section>
  <div class="page-header">
    <h1 ng-bind="vm.resource.name" style="text-align:center"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.resource.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="resources.edit({ resourceId: vm.resource._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="lead" ng-bind="vm.resource.content"></div>
</section> -->
