.input-simple{
  border:none;
  border-bottom:2px solid #ccc;
  margin-left:2%;
  margin-bottom:20px;
  padding:6px;
  min-width: 500px;
}

/* Resource */

.resource{
  background:#fff;
  padding:10px;
}

.poc,
.resource .org{
  font-weight:500;
}

.resource .web{
  color: #34AEFF;
  font-size:.75em;
}
.resource .addr,
.resource .desc,
.resource .name,
.resource .email,
.resource .line{
  font-size:.875em;
}
.resource .line,
.resource .desc{
  margin:10px 0;
}
.resource .title{
  margin-top:0;
}
.resource .id{
  margin-top:20px;
  font-size:.75em;
  opacity: .5;
  font-weight:600;
}
.resource .desc{
  line-height: 1.5;
}

.resource .rec{

}

.resource .id{
  text-align: center;
}

/* Resource Form */

.form-resources input{
  margin-bottom:5px;
}
.form-resources .req::after{
  content: " *";
  color:red;
}

.form-resources .help-block {
  color:#AAA;
  font-size:.9em;
}
