.input-simple{
  border:none;
  border-bottom:2px solid #ccc;
  margin-left:2%;
  margin-bottom:20px;
  padding:6px;
  min-width: 500px;
}

/* Resource */

.resource{
  background:#fff;
  padding:10px;
}

.poc,
.resource .org{
  font-weight:500;
}

.resource .web{
  color: #34AEFF;
  font-size:.75em;
}
.resource .addr,
.resource .desc,
.resource .name,
.resource .email,
.resource .line{
  font-size:.875em;
}
.resource .line,
.resource .desc{
  margin:10px 0;
}
.resource .title{
  margin-top:0;
}
.resource .id{
  margin-top:20px;
  font-size:.75em;
  opacity: .5;
  font-weight:600;
}
.resource .desc{
  line-height: 1.5;
}

.resource .rec{

}

.resource .id{
  text-align: center;
}

/* Resource Form */

.form-resources input{
  margin-bottom:5px;
}
.form-resources .req::after{
  content: " *";
  color:red;
}

.form-resources .help-block {
  color:#AAA;
  font-size:.9em;
}

.category-selection{
  padding-bottom:5px
}

.resources .category.select{
  width: calc(50% - 5px);
  font-size:1em;
}

.resources .category.half{
  width: calc(50% - 5px);
  margin-right:10px;
}

.resources .category.half:nth-child(even){
  margin-right:0;
}

.resources .category.select-all{
  margin-right:0;
  float: right;
  height:60px;
  line-height: 60px;
}


.checklist-result{
  max-width: 600px;
  margin:0 auto;
}
.resources .resouce-add{
  background: #34495E;
  position: relative;
  max-width: 490px;
  margin:5px auto
}
.resources .resouce-add .add b,
.resources .resouce-add .add i{
  position: absolute;
  left: 25px;
  top:50%;
}
.resources .resouce-add .add{
  position: absolute;
  color: #fff;
  width: 60px;
  text-align: center;
  height: 100%;
  vertical-align: middle;
}


.resources .resouce-add .result{
  width: calc(100% - 60px);
  margin:0;
  float: right;
}

.resource-add .add{
  color:#fff;
  width: 60px;
  display: block;
  text-align: center;
  height:100%;
}
.panel-body{
  padding:0;
}
