<section>
  <div class="page-header">
    <h1>Searches</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="search in vm.searches"
       ui-sref="searches.view({ searchId: search._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="search.created | date:'mediumDate'"></span>
        by
        <span ng-if="search.user" ng-bind="search.user.displayName"></span>
        <span ng-if="!search.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="search.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.searches.$resolved && !vm.searches.length">
    No Searches yet, why don't you <a ui-sref="searches.create">create one</a>?
  </div>
</section>
