<section>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form action="" name="vm.form.search">
        <input class="form-control main-search" type="text" placeholder="Search..." ng-model="vm.query">
        <button class="btn btn-default" type="submit">Submit</button>
      </form>
      <div class="output">
        {{vm.query}} <br>
      </div>

      <div ng-show="vm.msg || vm.error || vm.test">
        MSG: <br>
        <span ng-bind="vm.msg"></span>
        <span ng-bind="vm.error"></span>
        <span ng-bind="vm.test"></span>
      </div>
    </div>
  </div>
</section>
