* {
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 16px;
}

.content {
  margin-top: 50px;
}

.undecorated-link:hover {
  text-decoration: none;
}

[ng\:cloak], [ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}

.open .header-profile-image, a:hover .header-profile-image {
  opacity: 1;
}

.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

.error-text {
  display: none;
}

.has-error .help-block.error-text {
  display: block;
}

.has-error .help-inline.error-text {
  display: inline;
}

.txt-c {
  text-align: center;
}

.hasHeader {
  margin-top: 20px;
}

/* New Default Color Theme */

.bg {
  min-height: 500px;
  width: 100%;
}

.bg-grey {
  background: #F1F1F3
}
