.has-footer{
  margin-bottom: 80px;
}

.footer-nav{
  background:#fff;
  position: fixed;
  width:100%;
  height:auto;
  padding:5px 0;
  bottom:0;
  text-align: center;
  z-index: 100
}

.footer-nav a{
  display: inline-block;
  width:100px;
  height:40px;
  text-decoration: none;
}

.footer-nav i{
  font-size:1.2em;
}

.footer-nav .name{
  text-transform: uppercase;
  font-size:.75em;
  font-weight: 500;
}

@media screen and (max-width: 500px){
  .footer-nav{
    height:auto;
  }
  .footer-nav a{
    width:90px;
    height:auto;
  }
  .footer-nav i{
    font-size:1.5em;
  }
  .footer-nav .name{
    font-size:.75em;
  }
}
