.page-header{
  margin:10px 0;
  height:auto;
}

@media screen and (max-width:600px){
  .page-header{
    top:0;
    position: absolute;
    z-index:1000;
    margin:0;
    font-size:.75em;
    background:#fff;
    padding:10px 0;
  }

  .has-header{
    margin-top:50px;
  }
}
