
.home{
  background: url('../img/brand/veterans.jpg');
  background-size:cover;
  background-position:center;
}
.home.hero{
  height: 70vh;
  min-height: 400px;
  width: 100%;
}

.home-title{
  font-size:2.5em;
  font-weight:600;
}

.home-slogan{
  padding-top:5px;
  font-size:1.5em;
  line-height:1.25;
  font-weight:400;
  text-transform: capitalize;
}

.home-banner {
  padding-top:20vh;
}

.home-title,
.home-logo,
.home-slogan {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.home-slogan{
  margin-bottom:30px;
}
/*V2*/
/*.home-slogan{
  margin-bottom:70px;
}*/

.home-title,
.home-slogan {
  color: white;
}

.home-logo {
  width: 20vh;
}



/* Home Page - Topics Components */

.topics {
  width: 1000px;
  margin: 10px auto;
}

.topic {
  background: #fff;
  border-radius: 10px;
  height: 260px;
  width: 240px;
  position: relative;
  float: left;
  margin: 5px;
}

.topic i {
  padding: 50% 0;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.topic-name {
  position: absolute;
  width: 100%;
  bottom: 10px;
}


/* Bootstrap Class Helpers*/

.row-no-margin {
  margin: auto 0;
}

.section-pad-n-10, .section-pad-ns-10 {
  padding-top: 10vh;
}

.pad-s-10, .section-pad-s-10, .section-pad-ns-10 {
  padding-bottom: 10vh;
}


/* Over Lay */

.overlay{
  width:100%;
  height:100%;
  background:rgba(52, 73, 94,.6);
}

/* Supporters Section */
.supporter{
  text-align:center;
}
.supporter .link{
  color:#34495E;
  font-weight:600;
  font-size:1.25em;
}
.supporter .img{
  width:100px;
  height:100px;
  margin:5px auto;
}

.supporter .img div{
  width:100%;
  height:100%;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
}

.supporter > div{
  margin:10px 0;
  margin-bottom:40px;
}


/* Supporters */
.la-seal{
  background-image:url(../img/supporters/sealLA.png);
}

.hfla-seal{
  background-image:url(../img/supporters/logo-hfla.png);
}

.techhire-seal{
  background-image:url(../img/supporters/techhire_mobile.png);
}

/* Home Footer */

.home-footer{
  max-width:1000px;
  width:100%;
  margin:10px auto;
  margin-top:60px;
  font-weight:500;
  font-size:1.1em;
  padding:10px 0;
}
.home-footer .right,
.home-footer .left{
  opacity:.5;

}
.home-footer .mid{
  text-align: center;
}
.home-footer .right{
  text-align:right;
}



.list-more .name{
  line-height: normal;
  top:50%;
  left:50%;
  transform: translate(-50%, -10%);
  font-size:1.25em;
}


.category{
  height:160px;
  line-height:160px;
  margin-bottom:10px;
  background-size:cover;
  background-position:center;
  color:#fff;
  font-size:1.25em;
}



.dire.vet-type {
  background:#E74C3C
}
.resource-list .recent-list:nth-child(3n),
.resource-list .recent-list{
  margin-right:5px;
}
.resource-list .recent-list:nth-last-child(2){
  margin-right:0px;
}
.btn-checklist:hover{
  color:#34495E
}
.btn-checklist{
  background:#34AEFF;
  color:#fff;
  max-width: 394px;
  width: 100%;
  margin:0 auto;
  height:60px;
  line-height: 60px;
  padding:0;
  font-size:1.25em;
  font-weight: 600;
  text-transform: capitalize;
}

.search-title{
  margin-bottom:0;
}
@media screen and (max-width:1000px){
  .home-slogan{
    margin-bottom:30px;
  }
}

@media screen and (max-width: 880px){
  .home.hero{
    min-height: 400px;
  }
  section{
    padding:0 10px;
  }
}
@media screen and (min-width:601px){

  .resource-container a:nth-child(3n){
    margin-right:0;
  }
  .resource-container a:nth-child(n + 3){
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 600px){
  .home-banner {
    padding-top:15vh;
  }
  .home.hero{
    height:30vh;
    min-height:380px;
    margin-bottom:0;
  }
  .home-nav{
    font-size:1em;
    height:40px;
    line-height:40px;
  }

  .home-nav .title{
    width:80%;
  }

  .home-nav .menu{
    width:20%;
  }

  .home-title{
    font-size:1.5em;
  }

  .home-slogan{
    font-size:1em;
    line-height:1.5em;
  }

  .home-search{
    font-size:1em;
    height:60px;
    line-height:60px;
    margin-top:60px;
  }

  .home-search span{
    position:absolute;
    top:50%;
    transform: translate(0%, -50%);
    right:0;
    padding:0 20px;
  }

  section .title{
    font-size:1.25em;
    padding-bottom:0;
    margin:20px 0 10px 0;
  }


  .supporter{
    font-size:.875em;
  }


  .home-footer{
    font-size:.875em;
  }
  .search-title{
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px){
    .recent{
      width:100%;
      margin-right:0;
    }

    .home.hero{
      min-height:340px;
    }
    .home-nav{
      font-size:1em;
    }


    .home-title{
      font-size:1.3em;
    }

    .home-slogan{
      font-size:.875em;
      line-height:1.3em;
    }

    .home-search{
      margin-top:30px;
    }

    .supporter{
      margin-top:0;
    }
}
