.page-header{
  height:auto;
  width:100%;
  padding:10px;
}

.ltw{
  font-weight:600;
  font-size:1.5em;
}
.ltw .name,
.ltw .logo{
  display: inline-block;
}

.ltw .logo{
  height:1em;
  width:1em;
  background-image:url('/modules/core/client/img/brand/logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right:0;
  position: relative;
  bottom:-.15em;
}
